body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
